

html, body, #app, #app>div {
    height: 100%
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.5; /* Firefox */
  }
